<!DOCTYPE html>
<html lang="en">
  <% include ../partials/head %>
  <body>
    <% include ../partials/nav %>
    <div class="container">
      <pre><%= Object.keys(methods); %></pre>
    </div>
  </body>
</html>
