<!DOCTYPE html>
<html lang="en">
  <% include ../partials/head %>
  <body>
    <% include ../partials/nav %>
    <div class="container-fluid mt-2">
      <div id="app">
        <div v-if="!jumbotronHidden" class="jumbotron-container">
          <div @click="hideJumbotron" class="close text-right px-3 pt-2 c-pointer black">x</div>
          <div class="jumbotron">
            <h1 class="display-3">Generate Tons of Fake Data Instantly!</h1>
            <p class="lead">1. Pick your data fields.</p>
            <p class="lead">2. Pay and download within seconds!</p>
            <hr class="my-4">
            <p>Download will start as soon as payment is processed.</p>
          </div>
        </div>

        <div v-if="error" class="container text-center alert alert-danger">{{error}}</div>

        <div class="row">
          <div class="col-12 col-md-2">
              <h3 class="text-center">Pick your data</h3>
              <div v-if="groups" v-for="(group, index) in groups" :key="index" class="accordion" id="group-accordian">
                  <div class="card">
                    <div class="card-header c-pointer" :id="'group' + index"  data-toggle="collapse" :data-target="'#methods' + index">
                      <h5 class="mb-0">
                        <button class="btn btn-link" type="button"  aria-expanded="false" aria-controls="'methods' + index">
                            {{group}} ({{fakerMethods[group].length}})
                        </button>
                      </h5>
                    </div>
                
                    <div :id="'methods' + index" class="collapse" :aria-labelledby="'group' + index" data-parent="#group-accordian">
                      <div class="card-body">
                          <button
                          class="m-1 btn btn-sm"
                          v-for="(method, index) in fakerMethods[group]"
                          :key="index"
                          @click="toggleMethodSelection(method)"
                          :class="{'btn-info': method.selected}">{{method.name}}
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

          </div>

          
          <div class="col-12 col-md-10">
            <!-- <div class="row">
              <div id="num-records-form" class="col-12 col-md-2">
                <label class="col-form-label" for="num-record"><h5>Rows:</h5></label>
                <input type="number" class="form-control" value="1000" id="num-record">
                <button class="btn btn-success btn-sm">Generate</button>
              </div>
            </div> -->
            <div class="d-flex justify-content-between mb-2">
              <div class="d-flex">
                <h5 class="align-self-center mb-0">Rows</h5>
                <input type="number" class="h-100 form-control" v-model.number="requestedRowCount" id="num-record">
                <button @click="getSampleData" class="btn btn-success btn-sm">Generate</button>
              </div>
              <div class="w-25">
                <div v-if="loadingData" class="alert alert-info text-center">
                    <i class="fa fa-spinner fa-spin"></i> <strong>Generating data for your file</strong>
                </div>
              </div>
              <div>
                <button @click="checkout" :disabled="loadingData" class="btn btn-warning">Buy Excel</button>
                <!-- <button @click="buy('xlsx')" :disabled="loadingData" class="btn btn-warning">Buy Excel</button> -->
                <button @click="buy('csv')" :disabled="loadingData" class="btn btn-warning">Buy CSV</button>
              </div>
            </div>
            <!-- <label for="records">  </label>
            <input name="records" type="number" class="form-contorl" value="1000"> -->
            <div class="table-container">
              <table class="table table-hover table-stripped table-bordered"  id="data-table">
                <thead>
                  <tr>
                    <th v-for="(item, index) in selectedMethods" :key="index">
                      <div class="d-flex justify-content-between align-content-center">
                        <strong>
                          {{item.name}} 
                        </strong>
                        <span @click="toggleMethodSelection(item)" class="text-danger c-pointer">x</span>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(row, index) in rowData" :key="index">
                    <td v-for="(value, key) in rowData[index]" :key="key">{{value | strIfArr}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div v-if="rowData.length > 0" class="text-center">
              <h3>Want More?</h3>
              <button @click="buy('xlsx')" :disabled="loadingData" class="btn btn-warning">Buy Excel</button>
              <button @click="buy('csv')" :disabled="loadingData" class="btn btn-warning">Buy CSV</button>
            </div>
            
          </div>
        </div>

        <footer class="text-muted">
            <div class="container text-center">
                <p class="mb-1">© 2017-2018 AponVenture</p>
                <ul class="list-inline">
                  <li class="list-inline-item"><a href="#">Support</a></li>
                </ul>
            </div>
          </footer>

      </div>
    </div>
    <script>const options = {
        key: '<%= stripePublic; %>',
        image: './public/logo-256.png',
        locale: 'auto',
        currency: 'USD',
      };</script>

    <script src="https://fastcdn.org/FileSaver.js/1.1.20151003/FileSaver.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-stripe-checkout@1.0.11/build/vue-stripe-checkout.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="/public/js/main.js"></script>
  </body>
</html>
