<!DOCTYPE html>
<html lang="en">
  <% include ../partials/head %>
  <body>
    <% include ../partials/nav %>
    <div class="container-fluid mt-2">
      <div id="app">

        <div v-if="error" class="container text-center alert alert-danger">{{error}}</div>
        
        <div class="row">
          <div class="col-12 col-md-2">

              <div v-if="groups" v-for="(group, index) in groups" :key="index" class="accordion" id="group-accordian">
                  <div class="card">
                    <div class="card-header" :id="'group' + index">
                      <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" :data-target="'#methods' + index" aria-expanded="false" aria-controls="'methods' + index">
                            {{group}} ({{fakerMethods[group].length}})
                        </button>
                      </h5>
                    </div>
                
                    <div :id="'methods' + index" class="collapse" :aria-labelledby="'group' + index" data-parent="#group-accordian">
                      <div class="card-body">
                          <button
                          class="m-1 btn btn-sm"
                          v-for="(method, index) in fakerMethods[group]"
                          :key="index"
                          @click="selectMethod(method)"
                          :class="{'btn-info': method.selected}">{{method.name}}
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

          </div>

          
          <div class="col-12 col-md-10">
            <!-- <div class="row">
              <div id="num-records-form" class="col-12 col-md-2">
                <label class="col-form-label" for="num-record"><h5>Rows:</h5></label>
                <input type="number" class="form-control" value="1000" id="num-record">
                <button class="btn btn-success btn-sm">Generate</button>
              </div>
            </div> -->
            <div class="d-flex justify-content-between mb-2">
              <div class="d-flex">
                <h5 class="align-self-center mb-0">Rows</h5>
                <input type="number" class="h-100 form-control" v-model.number="requestedRowCount" id="num-record">
                <button @click="getSampleData" class="btn btn-success btn-sm">Generate</button>
              </div>
              <div>
                <button @click="buy" class="btn btn-warning">Buy Excel</button>
                <button class="btn btn-warning">Buy CSV</button>
              </div>
            </div>
            <!-- <label for="records">  </label>
            <input name="records" type="number" class="form-contorl" value="1000"> -->
            <table class="table table-hover table-stripped table-bordered"  id="data-table">
              <thead>
                <tr>
                  <th v-for="(item, index) in selectedMethods" :key="index">
                    <strong>
                      {{item.name}} 
                    </strong>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(row, index) in rowData" :key="index">
                  <td v-for="(value, key) in rowData[index]" :key="key">{{value}}</td>
                </tr>
              </tbody>
            </table>
            <div v-if="rowData.length > 0" class="text-center">
              <h3>Want More?</h3>
              <button class="btn btn-warning">Buy CSV</button>
              <button class="btn btn-warning">Buy Excel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://fastcdn.org/FileSaver.js/1.1.20151003/FileSaver.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="/public/js/main.js"></script>
  </body>
</html>
