<footer class="text-muted">
    <div class="container text-center">
        <p class="mb-1">© 2017-2018 AponVenture</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="mailto:aponventure@gmail.com">Support</a></li>
        </ul>
    </div>
  </footer>