<div v-if="!jumbotronHidden" class="jumbotron-container">
    <div @click="hideJumbotron" class="close text-right px-3 pt-2 c-pointer black">x</div>
    <div class="jumbotron py-3">
      <h1 class="display-3">Generate Tons of Fake Data Instantly!</h1>
      <p class="lead">1. Pick your data fields.</p>
      <p class="lead">2. Pay and download within seconds!</p>
      <hr class="my-4">
      <ul>
        <li>Download will start as soon as payment is processed.</li>
        <li>Contact <a href="mailto:aponventure@gmail.com">support</a> if you require more rows.</li>
      </ul>
    </div>
  </div>