body {
    background: #ececec;
}

#num-records-form {
    width: 10%;
}

#data-table {
    color: black;
}

.table-container {
    overflow-x: scroll;
}

.c-pointer {
    cursor: pointer;
}

.close {
    background: #f7f7f9;
}

.black {
    color: black;
}

